{% extends'base.html.twig' %}

{% block title %}
<title>Bookings Applications</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
{% endblock %}

{% block body %}
    <div class="header">
        <img src="/images/notebook.svg" class="header-pic">
        <span class="header-heading">
            Hotel Booking Application
        </span>
    </div>
    <div class="content">

    </div>
    <div class="footer">
        <div class="footer-text">
            Created by VSo19
        </div>
    </div>
{% endblock %}